:root {
    --main-font: arial;
    --primary-color: rgb(20, 20, 25);
    --secondary-color: rgb(26, 26, 32);

    --accent-color: rgb(224, 224, 224);
    --accent-color-hover: rgb(187, 187, 187);

    --b0: #00111c;
    --b1: #001523;
    --b2: #001a2c;
    --b3: #002137;
    --b4: #00253e;
    --b5: #002945;
    --b6: #002e4e;
    --b7: #003356;
    --b8: #003a61;
    --b9: #00406c;

    --bl0: #060810;
    --bl1: #121416;
    --bl2: #161a1e;
    --bl3: #1b2024;
    --bl4: #22262a;
    --bl5: #303234;
    --bl6: #393b3d;
    --bl7: #444648;

    scrollbar-width: thin;
    font-size: 1.1vw;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--bl3);
    font-family: var(--main-font);

    color: var(--accent-color);

    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

a {
    appearance: none;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 75ms linear;
}
a:hover:not(.text-button) {
    color: var(--accent-color-hover);
}

.text-button {
    appearance: none;
    color: var(--accent-color);
    background-color: transparent;
    min-width: 5rem;
    border: none;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.25rem;

    transition: background-color 75ms linear;

    display: flex;
    align-items: center;
    justify-content: center;
}
.text-button:hover {
    background-color: var(--bl4);
}

/* a {
    min-width: 5rem;
    text-align: center;
    border-radius: 0.25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.blue-button {
    appearance: none;
    color: var(--accent-color);
    background-color: var(--b7);
    height: 2.5rem;
    min-width: 5rem;
    border: 0.1rem solid var(--b9);
    border-radius: 0.25rem;
    font-size: 1rem;

    transition: background-color 50ms linear;
}
.blue-button:hover {
    background-color: var(--b9);
}
.blue-button:active {
    background-color: var(--b8);
}
